[submodule "tudat"]
	path = tudat
	url = https://hub.fastgit.org/Tudat/tudat.git
[submodule "tudatExampleApplications"]
	path = tudatExampleApplications
	url = https://hub.fastgit.org/Tudat/tudatExampleApplications.git
[submodule "eigen"]
	path = eigen
	url = https://hub.fastgit.org/tudat/eigen.git
[submodule "nrlmsise-00"]
	path = nrlmsise-00
	url = https://hub.fastgit.org/tudat/nrlmsise-00.git
[submodule "sofa"]
	path = sofa
	url = https://hub.fastgit.org/tudat/sofa.git
[submodule "json"]
	path = json
	url = https://hub.fastgit.org/tudat/json.git
[submodule "matlabInterface"]
	path = matlabInterface
	url = https://hub.fastgit.org/tudat/tudat-matlab.git
[submodule "nlopt"]
	path = nlopt
	url = https://hub.fastgit.org/tudat/nlopt
[submodule "cspice"]
	path = cspice
	url = https://hub.fastgit.org/tudat/cspice.git
[submodule "pagmo2"]
	path = pagmo2
	url = https://hub.fastgit.org/tudat/pagmo2
[submodule "tbb"]
	path = tbb
	url = https://hub.fastgit.org/DominicDirkx/tbb
